/venv
.venv

.telethon_sessions
.cache/huggingface
.cache/telethon
.vscode
sessions/

.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
.ipynb_checkpoints/
*.ipynb
*.pkl
*.pkl.gz
.deepeval/
.deepeval_reports/
.deepeval_reports_html/
.deepeval_reports_json/
.deepeval_reports_xml/
.deepeval_reports_yaml/
.deepeval_reports_yml/
.deepeval_reports_jsonl/
.deepeval_reports_jsonl.gz/



.env
/env
